



.background_map{
    /* background-color: rgba(0, 0, 0, 0.6); */
    overflow: hidden;
    position: relative;
}

.background_map h3{
    margin:30px 16px 14px 16px;
}

.background_map p{
    margin: 0 16px;
}

.background_map .top_side{
    background: none;
}

.img_wrap{
    width: 100%;
    max-width: 375px;
    position: relative;
    background: url(../images/map.png) center no-repeat;
    margin: 0 auto;
    height: 500px;
}

.img_wrap .location{
    position: absolute;
    right: 130px;
    top: 240px;
}

.img_wrap .explore{
    border: 1px solid #fff;
    background:#fff;
    border-radius: 50px;
    padding: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 16px;
    z-index: 10;
    bottom: 9px;
}

.popup{
    position: absolute;
    width: 342px;
    height: 230px;
    top: 50%;
    left: 50%;
    transform: translate(-171px, -115px);
    background: #fff;
    border-radius: 5px;
    padding: 0 20px;
    z-index: 300;
}

.popup h4{
    font-size: 14px;
    padding-top: 30px;
    padding-left: 10px;
}

.popup p{
    font-size: 14px;
    color: #868686;
    padding-top: 12px;
    line-height: 1.2;
    padding-left: 10px;
}

.popup span{
    display: block;
    font-size: 14px;
    color: #868686;
    margin-top: 20px;
    padding-left: 10px;
}

.short_btn{
    margin: 34px 0 0;
    display: flex;
    justify-content: space-between;
  } 

  .short_btn a{
    display: inline-block;
    width: 48%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 12px;
    font-size: 14px;
  }

  .btn1{
    border: 1px solid #C10A0A ;
    color: #C10A0A;
    font-weight: 600;
  }

  .btn2{
   background: #C10A0A ;
   color: #fff;
   font-weight: 600;
  }

  .dim{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    text-indent: -9999px;
  }