/* 카메라로 바코드 인식하기*/
.barcode_body{
  padding: 0;
  background: #656565 ;
}

.camera_area{
  padding: 130px 0;
}

.camera_area div{
  background: #F2F2F2;
  padding: 125px 0;
  text-align: center;
}

.camera_area span{
  font-size: 24px;
}

/* 갤러리에서 이미지 업로드 하기 */
.gallery_body{
  padding: 0;
  background: #F2F2F2;
}

.gallery_area{
  text-align: center;
  padding: 345px 0 0;
}

.gallery_area div{
  font-size: 14px;
}

/* 기프트 카드 번호 입력 */


.card_number h3{
  font-size: 14px;
  font-weight: 600;
}

.card_number p{
  font-size: 12px;
  font-weight: 500;
}

.card_number1 p{
  margin-top: 7px;
}

input[type="text" i] {
  padding: 14px 2px;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  margin: 13px 6px 30px 0;
  font-size: 12px;
  font-weight: 400;
}

input[type="text" i]:nth-last-of-type(1){
  margin-right: 0;
}

.card_name input[type="text" i]{
  width: 100%;
  padding-left: 20px;
}

.card_number1 input[type="text" i]{
  width: 22.8%;
  text-align: center;
}

input[type="text" i]:nth-last-of-type(1){
  margin-right: 0;
}

.card_number2 input[type="text" i]{
  width: 31.39%;
  text-align: center;
  margin-bottom: 10px;
}

.card_notice h6{
  margin-top: 20px;
}

.card_notice .notice li{
  list-style-type: auto;
}

.card_notice .notice li::before{
  display: none;
}