/* 아웃백 딜리버리 주문하기 결제수단*/
.delivery_order .border:nth-child(2n){
  border: 0;
}

.delivery_order .border:nth-child(1){
  border-top: 0;
}

.delivery_order .border{
  padding: 20px 16px;
}

.delivery_order h4{
  font-weight: 500;
}

.border ul.credit_card_list{
  display: flex;
}

.card_slide{
  display: none;
}

.delivery_order h6{
  margin: 20px 16px 12px;
}

.credit_card_list .swiper-slide{
  width: auto;
}

.credit_card_list .swiper-slide:nth-last-child(1) img,
.credit_card_list .swiper-slide:nth-last-child(2) img{
  width: 240px;
}

.order_info h3{
  padding: 10px 0  14px 16px;
}

.border.bottom0{
  padding: 16px;
}

.order_info_warp{
  display: flex;
}
.order_info_warp h3{
  width: 100%;
  margin-bottom: 12px;
}
.order_info_warp.flex_wrap{
  flex-wrap: wrap;
}
.order_info_warp div{
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 73px;
}

.order_info_warp ul{
  display: block;
  margin-left: 17px;
  margin-top: 0;
  padding-top: 2px;
}

.order_info_warp ul li{
  color: #222222;
  font-weight: 500;
  padding-bottom: 10px;
}

.order_info_warp ul li:nth-last-child(1){
  padding-bottom: 0;
}


.payment_info p{
  font-size: 14px;
  color: #868686;
  margin: 10px 0 0 16px;
}

.pay_info{
  margin-top: 21px;
}

.payment_card{
  margin-top: 21px;
}

h6{
  font-size: 12px;
  color: #434343;
  margin: 34px 16px 12px 16px;
}

.pay_info2{
  display: flex;
  background: rgba(144, 115, 84, 0.1);
  height: 45px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.pay_info2 .cell{
  font-size: 14px;
  font-weight: 700;
  color: #222222;
}

.notice{
  padding: 0 16px;
}

.notice li{
  color: #868686;
  line-height: 1.2;
  font-size: 12px;
  margin-left: 18px;
  position: relative;
}

.notice li::before{
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #868686;
  position: absolute;
  top: 5px;
  left: -11px;
}
.order_com{
  padding: 16px 16px 44px;
}
.order_com p{
  font-size: 12px;
  color: #000;
  line-height: 1.1;
  margin-bottom: 64px;
}
.order_com p strong{
  font-size: 18px;
  line-height: 32px;
}
.deliver_show{
  position: relative;
}
.deliver_show ul{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.deliver_show ul li{
  width: 25%;
  text-align: center;
  color: #222222;
  font-weight: 500;
}
.deliver_show .delivery_bar{
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #F2F2F2;
}
.deliver_show .delivery_bar_active{
  position: absolute;
  display: block;
  text-indent: -9999px;
  width: 25%;
  height: 10px;
  border-radius: 5px;
  background-color: #C10A0A;
  bottom: 0;
  left: 0;
}
.card_slide p{
  font-size: 16px;
  color: #434343;
  font-weight: 500;
  margin-top: 16px;
  text-align: center;
}
.card_slide p strong{
  font-size: 12px;
  color: #C10A0A;
  display: flex;
  align-items: center ;
  justify-content: center;
}
.card_slide p strong span{
  font-size: 12px;
  color: #C10A0A;
  margin-right: 4px;
}