@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
.sub_loding_wrap{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.sub_loding_wrap .logo_wrap{
  min-width: 163px;
}

.sub_loding_wrap .logo_wrap img{
  width: 100%;
}

.sub_loding_wrap .text_wrap{
  margin-top: -10px;
  text-align: center;
  color: #222;
  font-weight: 600;
  font-size: 14px;
}

.sub_loding_wrap .text_wrap p{
  margin-bottom: 3px;
}